@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: 'Inter', sans-serif;
}

.primary_color{
    background-color: oklch(0.398 0.195 277.366);
}

.darkmode_color{
    background-color: red;
}