@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: 'Inter', sans-serif;
}

.primary_color{
    background-color: oklch(0.398 0.195 277.366);
}

/* nkyc list page */
.primary_color_list {
    background: linear-gradient(to bottom, oklch(0.9 0.05 250), white);
}